@use "utils/_mixins" as mh;

.faq {
  background: #ffffff;
  &__container {
    display: flex;
    flex-direction: column;
    @include mh.adaptiv-value("padding-top", 88, 28, 0);
    @include mh.adaptiv-value("padding-bottom", 88, 28, 0);
  }

  &__title {
    font-weight: 500;
    padding-bottom: 40px;
    align-self: center;
    text-align: center;
  }

  &__body {
    display: flex;
    gap: 30px;
    width: 100%;
    @media (max-width: 768px) {
      flex-direction: column;
    }
  }

  &__accordeon {
    display: flex;
    flex-direction: column;
    @include mh.adaptiv-value("gap", 30, 15, 0);
    // gap: 30px;
    flex: 1 0 45%;

    
  }

  &__accordion-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    @include mh.adaptiv-value("padding", 16, 8, 0);
    // gap: 16px;
    background: #ffffff;
    border: 1px solid #e6e9ea;
    border-radius: 20px;
  }

  &__accordion-item-header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    @include mh.adaptiv-value("gap", 17, 12, 0);
    // gap: 17px;
    cursor: pointer;
    padding: 5px;

    p {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 46px;
      height: 46px;
      background: var(--neutral-50);
      border-radius: 48px;
    }
  }

  &__accordion-item-title {
    font-family: "GeneralSans-Variable";
    font-style: normal;
    font-weight: 500;
    max-width: 450px;
    @include mh.adaptiv-value("font-size", 24, 18, 0);
    @include mh.adaptiv-value("line-height", 29, 24, 0);
    // font-size: 24px;
    // line-height: 29px;
    color: var(--neutral-900);

   
  }

  &__accordion-item-icon {
    font-size: 26px;
    color: #0066ff;
  }

  &__accordion-item-body {
    display: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--neutral-600);
    text-align: justify;
    text-wrap-mode: wrap;
    text-wrap-style: pretty;
  }

  .collapsed {
    background: var(--primary-50);
    border: 1px solid var(--primary-200);
    box-shadow: 10px 25px 100px rgba(0, 43, 107, 0.25);
    border-radius: 20px;

    p {
      background: #ffffff;
      border-radius: 48px;
    }
  }
}
