@use "utils/_mixins" as mh;

.features {
  background-color: #ffffff;
  &__container {
    display: flex;
    flex-direction: column;
    @include mh.adaptiv-value("padding-top", 88, 28, 0);
    @include mh.adaptiv-value("padding-bottom", 88, 28, 0);
  }

  &__title {
    // display: flex;
    max-width: 534px;
    // height: 134px;
    font-weight: 500;
    display: flex;
    align-self: center;
    align-items: center;
    text-align: center;
  }

  &__description {
    max-width: 502px;
    height: 48px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    align-self: center;
    text-align: center;
    color: var(--neutral-600);
    @include mh.adaptiv-value("padding-top", 16, 10, 0);
    @include mh.adaptiv-value("padding-bottom", 83, 63, 0);
  }

  &__row {
    display: flex;
    justify-content: space-evenly;
    background-image: url(../../img/background-features.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    @include mh.adaptiv-value("gap", 56, 28, 0);

    @media (max-width: 768px) {
      align-items: center;
      flex-direction: column;
    }
  }

  &__block {
    display: flex;
    flex-direction: column;
    gap: 22px;
    max-width: 270px;

    &:nth-child(1) {
      @include mh.adaptiv-value("padding-top", 119, 50, 0);
      //   padding-top: 119px;
    }
    &:nth-child(2) {
      padding-top: 53px;
    }
  }

  &__block-card-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px;
    max-width: 260px;
    height: 228px;
    background: #ffffff;
    border: 1px solid var(--neutral-50);
    box-shadow: 10px 25px 100px rgba(0, 43, 107, 0.25);
    border-radius: 20px;
    gap: 12px;

    h3 {
      font-weight: 700;
      @include mh.adaptiv-value("font-size", 20, 16, 0);
      @include mh.adaptiv-value("line-height", 30, 20, 0);
      text-align: center;
      color: var(--neutral-900);
    }

    p {
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
      text-align: center;
      color: var(--neutral-600);
      /* Inside auto layout */
      flex: none;
      order: 1;
      align-self: stretch;
      flex-grow: 0;
    }
  }

  &__block-card-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    max-width: 102px;
    height: 54px;
    background: var(--primary-400);
    border: 1px solid var(--primary-400);
    border-radius: 100px;

    /* text */
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #ffffff;
  }

  &__block-card-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 260px;
    height: 93px;
    padding: 16px;
    gap: 12px;
    background: #ffffff;
    border: 1px solid var(--neutral-50);
    box-shadow: 10px 25px 100px rgba(0, 43, 107, 0.25);
    border-radius: 20px;
  }

  &__block-card-text {
    h3 {
      font-weight: 700;
      @include mh.adaptiv-value("font-size", 20, 16, 0);
      @include mh.adaptiv-value("line-height", 30, 20, 0);
      color: var(--neutral-900);
    }
    p {
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
      /* identical to box height, or 18px */
      text-align: center;
      color: var(--neutral-600);
    }
  }

  &__video {
    max-width: 349px;
    height: 572px;
    border-radius: 20px;
    box-shadow: 3px -5px 8px rgba(0, 43, 107, 0.75);

    video {
      border-radius: 20px;
      object-fit: contain;
      // background-color: #bec1c6;
      width: max-content;
      height: 100%;
    }
  }
}