@use "utils/_mixins" as mh;

.header {
  background-image: url(../img/Backgroudn-Gradient-Header.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }

  &__rowUp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    @include mh.adaptiv-value("padding-top", 12, 12, 0);
    @include mh.adaptiv-value("padding-bottom", 12, 12, 0);
    @include mh.adaptiv-value("padding-left", 72, 5, 0);
    @include mh.adaptiv-value("padding-right", 72, 5, 0);
    backdrop-filter: blur(70px);
  }

  &__logo {
    @include mh.adaptiv-value("width", 187, 127, 0);
    img {
      width: 100%;
      // height: 100%;
      object-fit: cover;
    }
  }

  &__nav {
  }

  &__nav-links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-self: center;
    padding: 0px;
    @include mh.adaptiv-value("gap", 40, 10, 0);
    max-width: 523px;
    // height: 24px;
    // padding: 25px 10px;
    a {
      font-weight: 400;
      line-height: 24px;
      color: var(--neutral-800);

      &:hover {
        color: var(--neutral-900);
        transition: color 0.3s ease-in;
        font-weight: 800;
      }
    }
  }

  &__btn {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 4px;
    @include mh.adaptiv-value("margin-left", 16, 0, 0);
    @include mh.adaptiv-value("width", 187, 147, 0);
    height: 48px;
    border-radius: 100px;
    border: 2px solid transparent;
    background: linear-gradient(white, white) padding-box, linear-gradient(to right, #0ac2ff, #ffcf00, #fc4f4f, #00c0ff, #6c7787) border-box;

    animation: ground 10s linear infinite;
    @keyframes ground {
      to {
        background-position: 30vw;
      }
    }
  }

  &__hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include mh.adaptiv-value("padding-top", 50, 25, 0);
    @include mh.adaptiv-value("padding-bottom", 37, 25, 0);
  }

  &__hero-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 24px;
    gap: 8px;
    width: 329px;
    height: 40px;
    background: #ffffff;
    border-radius: 24px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--primary-900);
  }

  &__hero-title {
    max-width: 846px;
    @include mh.adaptiv-value("height", 172, 124, 0);
    font-style: normal;
    font-weight: 500;
    @include mh.adaptiv-value("font-size", 72, 32, 0);
    @include mh.adaptiv-value("line-height", 86, 42, 0);
    text-align: center;
    color: var(--primary-900);
  }

  &__hero-description {
    max-width: 430px;
    height: 48px;
    font-weight: 400;
    // font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: rgb(64, 76, 97);
  }

  &__search {
    display: flex;
    align-items: center;
    padding: 0px;
    gap: 28px;
    @include mh.adaptiv-value("padding-bottom", 52, 26, 0);

    @media (max-width: 644px) {
      flex-direction: column;
    }
  }

  &__search-form {
    display: flex;

    align-items: center;
    @include mh.adaptiv-value("padding", 16, 8, 0);

    // padding: 16px;
    // @include adaptiv-value("gap", 16, 2, 0);
    max-width: 499px;
    height: 56px;
    background: #ffffff;
    border: 1px solid #ededed;
    box-shadow: 8px 8px 56px rgba(0, 0, 0, 0.05);
    border-radius: 56px;

    input[type="text"] {
      &:nth-child(1) {
        text-align: center;
        border: none;
        padding-left: 8px;
        @include mh.adaptiv-value("font-size", 16, 12, 0);

        &::placeholder {
          background-image: url(../../img/input-1.png);
          background-repeat: no-repeat;
          background-position: left center;
          background-size: 16px;
        }
      }

      &:nth-child(2) {
        margin-left: -18px;
        text-align: center;
        border: none;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        border-left: 1px solid #000;
        @include mh.adaptiv-value("font-size", 16, 12, 0);

        &::placeholder {
          background-image: url(../../img/input-2.png);
          background-repeat: no-repeat;
          background-position: left center;
          background-size: 16px;
        }
      }
    }
  }

  &__search-btn {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px 48px;
    gap: 8px;
    width: 151px;
    height: 56px;
    background: var(--primary-500);
    border: 1px solid var(--primary-500);
    border-radius: 100px;
    color: #ffffff;

    &:hover {
      background: linear-gradient(65deg, rgb(0, 43, 107) 0%, rgb(51, 133, 255) 65%, rgb(138, 185, 255) 100%);
      border: none;
    }
  }
}
.form-control {
}
.btn {
}
.btn-primary {
}

.open {
  display: flex !important;
}

.burger {
  display: none;
  position: relative;
  z-index: 50;
  align-items: center;
  justify-content: flex-end;
  width: 30px;
  height: 25px;

  span {
    height: 3px;
    width: 80%;
    transform: scale(1);
    background-color: #e7e3fc;
    z-index: 10;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #e7e3fc;
    transition: all 0.3s ease 0s;
    z-index: 20;
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }

  //add active class for animation burger icon
  // &.active span in CSS will be without space (.burger.active)
  // .active span in CSS will be with space (.burger. active)
  &.active span {
    transform: scale(0);
  }
  //add active class for animation burger lines
  &.active::before {
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
  }

  &.active::after {
    bottom: auto;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
  }
}

@media (min-width: 901px) {
  .burger {
    display: none;
  }
}

@media (max-width: 900px) {
  // max-width иной по проекту
  .burger {
    display: flex;
  }
  .header__nav {
    display: none;
  }
  .header__rowUp {
    backdrop-filter: none;
  }
  .header__btn {
    display: none;
  }
  .burger__nav {
    display: none;
    flex-direction: column;
    position: fixed;
    // margin-top: 74px;
    height: 100%;
    width: 100%;
    top: 0px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    text-align: right;
    overflow-y: auto;
    padding: 50px 40px;
    background-color: #aa9bf2;
    animation: burgerAnimation 1s;
    color: var(--neutral-800);
    font-weight: 700;

    ul {
      display: flex !important;
      flex-direction: column;
      gap: 30px;
      align-items: center;
    }

    @keyframes burgerAnimation {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
  }
}

.header {
  &__slider {
    overflow: hidden;
    border-radius: 20px;
    width: 100%;
  }

  &__slider-inner {
    display: flex;
    gap: 10px;
    transition: transform 0.8s linear;
  }

  &__slider-item {
    flex: 0 0 auto;
    img {
      width: 100%;
      height: auto;
      border-radius: 20px;
      display: block;
    }
  }
}
