@use "utils/_mixins" as mh;

.seekers {
  &__container {
    display: flex;
    flex-direction: column;
    @include mh.adaptiv-value("padding-top", 88, 30, 0);
    @media (min-width: 1972px) {
      padding-top: 20px;
    }
  }

  &__title {
    display: flex;
    max-width: 482px;
    max-height: 134px;
    font-weight: 500;
    display: flex;
    align-self: center;
    text-align: center;

    @media (min-width: 1972px) {
      max-height: 254px;
    }
  }

  &__description {
    display: flex;
    align-self: center;
    max-width: 388px;
    max-height: 48px;
    color: #6c7787;
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0066ff;
    font-weight: 700;
    padding: 4px;
    gap: 12px;
    width: 144px;
    height: 48px;
    background: #ffffff;
    border: 1px solid var(--primary-200);
    border-radius: 100px;
    align-self: center;
    @include mh.adaptiv-value("margin-top", 40, 20, 0);
    @include mh.adaptiv-value("margin-bottom", 80, 40, 0);
  }
}
.tab-nav {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding-bottom: 10px;
  gap: 8px;
  max-height: 200px;
  border-bottom: 1px solid var(--neutral-100);
  @include mh.adaptiv-value("padding-top", 40, 10, 0);
}
.tab-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  gap: 8px;
  padding: 5px;
  height: 48px;
  @include mh.adaptiv-value("width", 170.29, 100, 0);
  flex: none;
  order: 0;
  flex-grow: 1;
  border-radius: 10px;
  background: linear-gradient(145deg, #f0f0f0, #cacaca);
  box-shadow: 3px 5px 8px #bebebe, -20px -20px 60px #ffffff;

  font-weight: 400;
  line-height: 24px;
  color: var(--neutral-700);

  svg {
    // font-weight: 100;
    width: 16px;
    // width: 100%;
    height: 24px;
    fill: currentColor;
  }
}
.nav-active {
  font-weight: 500;
  line-height: 24px;
  color: #0066ff;
  background: linear-gradient(145deg, rgba(230, 240, 255, 0), #e6f0ff);
  box-shadow: 3px 5px 8px #0066ff, -20px -20px 60px #ffffff;
  border-bottom: 1px solid #0066ff;
}
.tab-content {
  &__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(292px, 1fr));
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 24px;
    padding-top: 40px;
  }

  &__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 24px 16px;
    // padding: 20px;
    gap: 21px;
    isolation: isolate;
    // width: 100%;
    // width: 292px;
    // height: 242px;
    border: 1px solid var(--primary-50);
    border-radius: 20px;
    background: linear-gradient(145deg, #ffffff, #e6e6e6);
    box-shadow: 3px 5px 8px var(--primary-50), -3px -5px 8px #ffffff;

    &:hover {
      border: 1px solid var(--neutral-100);
      background: linear-gradient(145deg, #f6ffff, #a3aab5);
      box-shadow: 5px 5px 22px #8a9099, -5px -5px 22px #ffffff;
    }
  }

  &__card-img {
    width: 64px;
    height: 64px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 100%;
    }
  }

  &__card-rating {
    display: flex;
    font-weight: 600;
    font-size: 14px;
    align-items: center;
    @include mh.adaptiv-value("line-height", 21, 5, 0);
    color: var(--neutral-800);
  }

  &__card-name {
    font-weight: 700;
    font-size: 20px;
    @include mh.adaptiv-value("line-height", 30, 10, 0);
    text-align: center;
    color: var(--neutral-900);
  }

  &__card-jobTitle {
    font-weight: 400;
    font-size: 12px;
    @include mh.adaptiv-value("line-height", 18, 3, 0);
    text-align: center;
    color: var(--neutral-500);
  }

  &__card-skills {
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: 200;
    font-style: italic;
    border: 1px solud var(--neutral-900);
    border-radius: 50px;
  }
}

.card-active {
  background: #e6f0ff;
  border: 1px solid #8ab9ff;
  // box-shadow: 10px 25px 100px rgba(0, 43, 107, 0.25);
  background: linear-gradient(145deg, #f6ffff, #cfd8e6);
  box-shadow: 5px 5px 22px #8a9099, -5px -5px 22px #ffffff;

  &.icon {
    fill: #6b1bcc;
  }
}
