@use "utils/_mixins" as mh;

.showcase {
  &__container {
    @include mh.adaptiv-value("padding-top", 88, 28, 0);
  }

  &__row {
    display: flex;
    justify-content: center;
  }

  &__title {
    font-style: normal;
    font-weight: 500;
    text-align: center;
    @include mh.adaptiv-value("padding-bottom", 40, 20, 0);
  }

  &__pagination {
    display: flex;
    justify-content: center;
    gap: 24px;
    @include mh.adaptiv-value("padding-top", 40, 20, 0);
    @include mh.adaptiv-value("padding-bottom", 40, 10, 0);
  }

  &__pagination-prev {
    cursor: pointer;
  }

  &__pagination-next {
    cursor: pointer;
  }

  &__portfolio {
    display: flex;
    @include mh.adaptiv-value("gap", 14, 4, 0);
    gap: 1%;
    border-radius: 20px;
    padding: 5px;
    height: 100%;
    min-width: 81px;
    max-width: 1240px;
    flex: 0 0 auto;
  }
  &__portfolio-item {
    flex: 0 0 2%;
    min-width: 5%;
    // max-width: 461px;
    height: 603px;
    border-radius: 20px;
    cursor: pointer;
    transition: flex 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
    filter: grayscale(80%);

    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
      background-size: cover;
      box-shadow: rgba(0, 0, 0, 0.61) 0px 1px 5px;
      border-radius: 20px;
    }
  }

  &__portfolio-content {
    opacity: 0;
    // max-width: min-content;
    // max-height: 250px;
    margin-top: -250px;
    // writing-mode: vertical-rl;
    transform: rotate(-180deg);
    z-index: 50;
    padding: 10px;
    // background-color: rgba(0, 0, 0, 0.3);
    // backdrop-filter: blur(6px) saturate(180%);

    h3 {
      font-family: "GeneralSans-Variable";
      font-weight: 600;
      font-size: 24px;
      line-height: 29px;
      color: #ffffff;
    }

    p {
      font-family: "Manrope";
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: var(--neutral-50);
    }
  }
}

.expanded {
  flex: 1 0 50%;
  filter: none;

  video {
    border-radius: 5px;
    object-fit: contain;
    background: #38454C;
    box-shadow: 2px -3px 8px #38454C;
    // height: min-content;
    // width: min-content;
  }

  .showcase__portfolio-content {
    // display: flex;
    // flex-direction: column;
    max-width: 250px;
    max-height: 300px;
    transform: rotate(0deg);
    margin-top: -170px;
    writing-mode: horizontal-tb;
    z-index: 100;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 1;
    backdrop-filter: blur(6px) saturate(180%);

    transition: all 0.3s linear;

    @media (max-width: 375px) {
      margin-top: -190px;
    }
  }
}
