@use "utils/_mixins" as mh;

.form {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(19, 18, 26, 0.7);
  padding-top: 50px;

  &__row {
    max-width: 450px;
    width: 100%;
    margin: 0px auto;
  
  }

  &__signup,
  &__signin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(156, 127, 235, 0.9);
    backdrop-filter: blur(10px);
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
      0 4px 6px -2px rgba(0, 0, 0, 0.05);
  }

  &__form-title {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 600;
    text-align: center;
    color: var(--neutral-900);
  }
  &__input-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;

    input,
    &__submit button {
      outline: none;
      border: 1px solid #e5e7eb;
      margin: 8px 0;

    }
    

    input {
      background-color: #fff;
      padding: 1rem;
      padding-right: 3rem;
      font-size: 0.875rem;
      line-height: 1.25rem;
      border-radius: 0.5rem;
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    }
  }
  &__submit {
    display: block;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    background-color: #8065f6;
    color: #ffffff;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    border-radius: 0.5rem;
    text-transform: uppercase;
    width: 100%;
  }
  &__signup-link,
  &__signin-link {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #4b505a;
    font-weight: 900;
    font-size: 1rem;
    line-height: 1.75rem;
    text-align: center;
    gap: 25px;

    button {
      border: none;
      box-shadow: none;
      color: bisque;
    }
  }
}
