@use "utils/_mixins" as mh;

.testimonials {
  &__container {
    display: flex;
    flex-direction: column;
    @include mh.adaptiv-value("padding-top", 88, 28, 0);
  }

  &__title {
    font-weight: 500;
    padding-bottom: 40px;
    align-self: center;
    text-align: center;
  }

  &__slider {
    display: flex;
    max-height: 1000px;
    overflow: hidden;
    @include mh.adaptiv-value("padding-top", 35, 5, 0);
    // padding: 35px;
  }

  &__inner {
    transition: all 1s linear;
    display: flex;
    gap: 40px;
    width: 100%;
  }

  &__item {
    display: flex;
    flex: 1 0 100%;
    justify-content: space-between;
    @include mh.adaptiv-value("gap", 24, 10, 0);
    align-items: center;

    @media (max-width: 768px) {
      flex-direction: column-reverse;
    }
  }

  &__item-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 48px 16px;
    @include mh.adaptiv-value("gap", 40, 20, 0);
    // gap: 40px;
    flex: 1 0 50%;
    height: 500px;
    background: #1e242c;
    border-radius: 20px;

    p {
      font-weight: 600;
      @include mh.adaptiv-value("font-size", 20, 16, 0);
      @include mh.adaptiv-value("line-height", 30, 24, 0);
      // font-size: 20px;
      // line-height: 30px;
      color: #ffffff;
    }

    span {
      font-family: "GeneralSans-Variable";
      font-weight: 700;
    }

    h3 {
      font-family: "GeneralSans-Variable";
      font-weight: 500;
      @include mh.adaptiv-value("font-size", 40, 28, 0);
      @include mh.adaptiv-value("line-height", 48, 38, 0);
      // font-size: 40px;
      // line-height: 48px;
      text-align: center;
      color: #ffffff;
    }
  }
  &__item-left-img {
    display: none;

    @media (max-width: 768px) {
      display: flex;
      width: 100px;
      height: 100px;
      filter: grayscale(80%);

      img {
        width: 100%;
        height: 100%;
        border-radius: 100%;
        object-fit: cover;
      }
    }
  }

  &__item-img {
    // width: 500px;
    height: 500px;
    flex: 1 0 50%;
    border-radius: 20px;
    filter: grayscale(100%);

    img {
      width: 100%;
      height: 100%;
      border-radius: 20px;
      object-fit: cover;
    }

    @media (max-width: 768px) {
      display: none;
    }
  }

  &__pagination {
    display: flex;
    position: relative;

    @include mh.adaptiv-value("top", -110, -60, 0);
    @include mh.adaptiv-value("gap", 150, 90, 0);
    @include mh.adaptiv-value("padding-left", 250, 45, 0);
    // padding-left: 170px;

    @media (max-width: 768px) {
      padding-left: 0;
      justify-content: center;
    }

    @media (min-width: 1440px) {
      padding-left: 100px;
    }
  }

  &__pagination-prev,
  &__pagination-next {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 10px;
    @include mh.adaptiv-value("width", 64, 34, 0);
    @include mh.adaptiv-value("height", 64, 34, 0);
    // width: 64px;
    // height: 64px;
    background: var(--neutral-50);
    border-radius: 100px;
    color: #1e242c;
    font-weight: 800;
    font-size: 24px;
    &:hover {
      background: #0066ff;
    }

    @media (max-width: 768px) {
      background-color: inherit;
      color: #ffffff;
      padding: 40px;

      &:hover {
        background: inherit;
        color: #0066ff;
      }
    }

    @media (min-width: 1440px) {
      background-color: inherit;
      color: #ffffff;
      padding: 60px;

      &:hover {
        background: inherit;
        color: #0066ff;
      }
    }
  }
}