@use "utils/_mixins" as mh;

.works {
  &__container {
    display: flex;
    // flex-wrap: wrap;
    gap: 80px;
    @include mh.adaptiv-value("gap", 80, 20, 0);
    justify-content: center;
    // @include adaptiv-value("padding-top", 88, 8, 0);
    @include mh.adaptiv-value("padding-bottom", 88, 8, 0);

    @media (max-width: 1140px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__column {
    display: flex;

    &:nth-child(1) {
      justify-content: center;
      flex-direction: column;
      max-width: 620px;
      @include mh.adaptiv-value("gap", 30, 2, 0);
      // gap: 30px;
    }

    &:nth-child(2) {
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-content: space-evenly;
      gap: 40px;
      width: 620px;
      background-image: url(../img/works2.png);
      background-repeat: no-repeat;
      background-position: bottom right;
      background-size: contain;

      @media (max-width: 650px) {
        width: 550px;
      }
      @media (max-width: 550px) {
        width: 450px;
      }
      @media (max-width: 480px) {
        background-image: none;
        align-items: center;
      }
    }
  }

  &__column-title {
    max-width: 581px;
    // height: 67px;
    font-style: normal;
    font-weight: 500;
    text-align-last: left;
    justify-self: center;
    @include mh.adaptiv-value("padding-bottom", 18, 0, 0);

    @media (max-width: 1140px) {
      align-self: center;
    }
  }

  &__row {
    display: flex;
    flex-direction: row;
    gap: 24px;
    max-width: 600px;

    span {
      font-family: "GeneralSans-Variable";
      font-weight: 500;
      @include mh.adaptiv-value("font-size", 108, 50, 0);
      @include mh.adaptiv-value("line-height", 130, 120, 0);
      color: var(--neutral-900);
      opacity: 0.15;
    }

    img {
      width: 56px;
      height: 56px;
      cursor: pointer;
    }
  }

  &__row-item {
    display: flex;
    align-items: center;
    align-self: center;
    @include mh.adaptiv-value("padding", 24, 6, 0);
    @include mh.adaptiv-value("gap", 16, 8, 0);
    // padding: 24px;
    // gap: 16px;
    max-width: 467px;
    max-height: 135px;
    background: #ffffff;
    border: 1px solid var(--neutral-50);
    box-shadow: 10px 25px 100px rgba(0, 43, 107, 0.25);
    border-radius: 20px;
  }

  &__row-text {
    display: flex;
    flex-direction: column;
    h3 {
      font-weight: 500;
    }

    p {
      font-weight: 400;
      @include mh.adaptiv-value("font-size", 16, 12, 0);
      @include mh.adaptiv-value("line-height", 24, 10, 0);
      // font-size: 16px;
      // line-height: 24px;
      color: var(--neutral-600);
    }
  }

  &__row-1 {
    max-width: 214px;
    border-radius: 20px;

    img {
      width: 100%;
      height: auto;
      object-fit: contain;
    }
  }

  &__row-2 {
    width: 281px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    gap: 16px;
    max-width: 281px;
    background: rgba(255, 255, 255, 0.51);
    backdrop-filter: blur(20px);
    border: 1px solid var(--neutral-50);
    box-shadow: 10px 25px 100px rgba(0, 43, 107, 0.25);
    border-radius: 20px;

    // img{
    //   width: 100%;
    //   height: auto;
    //   object-fit: contain;
    // }
  }

  &__row-img {
    :nth-child(-n + 1) {
      margin-left: 30px;
    }
    margin-left: -30px;
  }

  &__row-1-text {
    h3 {
      font-weight: 700;
      font-size: 20px;
      line-height: 30px;
      color: #0066ff;
    }

    p {
      font-weight: 600;
      font-size: 14px;
      line-height: 21px;
      color: var(--neutral-600);
    }
  }
}
