:root {
  --primary-50: rgb(230, 240, 255);
  --primary-100: rgb(176, 208, 255);
  --primary-200: rgb(138, 185, 255);
  --primary-300: rgb(84, 152, 255);
  --primary-400: rgb(51, 133, 255);
  --primary-500: rgb(0, 102, 255);
  --primary-600: rgb(0, 93, 232);
  --primary-700: rgb(0, 72, 181);
  --primary-800: rgb(0, 56, 140);
  --primary-900: rgb(0, 43, 107);
  --neutral-50: rgb(237, 238, 240);
  --neutral-100: rgb(198, 202, 209);
  --neutral-200: rgb(170, 177, 186);
  --neutral-300: rgb(132, 141, 155);
  --neutral-400: rgb(108, 119, 135);
  --neutral-500: rgb(71, 85, 105);
  --neutral-600: rgb(65, 77, 96);
  --neutral-700: rgb(50, 60, 75);
  --neutral-800: rgb(39, 47, 58);
  --neutral-900: rgb(30, 36, 44);
}